html {
  height: 100%;
  width: 100%;
 
}

body {
  font-family: Arial, Helvetica, sans-serif;
   background-size:cover;
  background-repeat:repeat-x;
  
}



h1 {
  text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
}
.subheader {
  display: flex;
  align-items: center; /* Vertical alignment of items */
  height: auto; /* Use "auto" or adjust to the desired height for content */
  width: 1000px; /* You can adjust this width as needed */
  position: relative;
  padding-top: 350px;
  justify-content: space-evenly;
}

.popular {
  font-size: 50px;
  text-align: center;
  margin-right: 20px; /* Add margin to create spacing between items */
}

.dropdown {
  display: flex; /* Ensure the button is treated as a flex item */
  margin-left:20px;
}
.filter-button img{
  height: 50px;

}
/* Style for the button */

/* Style for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFD600;
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
    transition: 0.2s ;
  border: 2px solid black;
}

/* Style for dropdown items */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font: bold;
  
}

/* Hover effect for dropdown items */
.dropdown-content a:hover {
    background-color:#FFB800;
}
/* Show the dropdown content when the button is hovered */
.dropdown:hover .dropdown-content {
    display: block;
}

.menuitemsbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
  height: auto;
  
}
.itembox {
display: flex;
width: 1000px;
height: 250px;
left: 458px;
top: 1147px;
margin-bottom: 40px;

background: #FF7A00;
box-shadow: 5px 7px 4px rgba(0, 0, 0, 0.5);
border-radius: 40px;
}
  .burgerimg {
    height:210px;
    width: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
.itemcontainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.ratingcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-left: 50px;
}

label {
  font-size: 25px;
  font-weight: bold;
}

.ratingcontainer input {
  width: 60px; /* Adjust the width as needed */
}

.ratingcontainer button {
  width: 60px; /* Adjust the width as needed */
}

.itemname {
  font-size: 50px; /* Adjust the font size as needed */
  margin: 0 20px; /* Add margin to create spacing between the image and text */

  font-family: 'Arial', sans serif;
}
.itemprice {
  font-size: 50px; /* Adjust the font size as needed */
  margin: 0 20px; /* Add margin to create spacing between the image and text */

  font-family: 'Arial', sans serif;
  
}

.itembox2 {
Display: flex;
width: 1000px;
height: 250px;
left: 458px;
top: 1147px;
margin-bottom: 40px;

  
background: #FF7A00;
box-shadow: 5px 7px 4px rgba(0, 0, 0, 0.5);
border-radius: 40px;
}
.garlicbreadimg {
  height:210px;
  width: auto;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.itemcontainer2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.itemname2 {
  font-size: 50px; /* Adjust the font size as needed */
  margin: 0 20px; /* Add margin to create spacing between the image and text */

  font-family: 'Arial', sans serif;
}
.itemprice2 {
  font-size: 50px; /* Adjust the font size as needed */
  margin: 0 20px; /* Add margin to create spacing between the image and text */

  font-family: 'Arial', sans serif;

}

.itembox3 {
display: flex;
width: 1000px;
height: 250px;
left: 458px;
top: 1147px;
margin-bottom: 40px;

background: #FF7A00;
box-shadow: 5px 7px 4px rgba(0, 0, 0, 0.5);
border-radius: 40px;
}
.butterchickenimg {
  height:210px;
  width: auto;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.itemcontainer3{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.itemname3 {
  font-size: 50px; /* Adjust the font size as needed */
  margin: 0 20px; /* Add margin to create spacing between the image and text */

  font-family: 'Arial', sans serif;
}
.itemprice3 {
  font-size: 50px; /* Adjust the font size as needed */
  margin: 0 20px; /* Add margin to create spacing between the image and text */

  font-family: 'Arial', sans serif;

}

.itembox4 {
  Display: flex;
width: 1000px;
height: 250px;
left: 458px;
top: 1147px;
margin-bottom: 40px;

background: #FF7A00;
box-shadow: 5px 7px 4px rgba(0, 0, 0, 0.5);
border-radius: 40px;
}
.wedgesimg {
  height:210px;
  width: auto;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.itemcontainer4{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.itemname4 {
  font-size: 50px; /* Adjust the font size as needed */
  margin: 0 20px; /* Add margin to create spacing between the image and text */

  font-family: 'Arial', sans serif;
}
.itemprice4 {
  font-size: 50px; /* Adjust the font size as needed */
  margin: 0 20px; /* Add margin to create spacing between the image and text */

  font-family: 'Arial', sans serif;

}
header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding-right: 100px;
}


  
  .website-logo img {
  height: 160px;
  padding-top: 80px;
  margin-left: 50px;
  transition: 0.2s ;
}

  .website-logo img:hover{
  opacity: 80%;
    
  }



  h1 {
    font-size: 75px;
    margin-top: 100px;
    color: #FF7A00;
  
   }
h2{
  font-size: 120px;
  margin-top: 100px;
  color: #FF7A00;
}

  header nav {
  display:flex;
  width: 700px;
  justify-content:space-around;
  padding-top: 55px;
}


  header nav a{
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 50px;
  text-decoration: none;
  color:black;
  cursor: pointer;
  transition: color 0.1s ease;
  
  }
  header nav a:hover {
    color:#FF7A00; 

  }
#loginbutton {
border-radius: 50px;
  background-color: #FF7A00;
  border: 5px solid black;
  width: 140px; 
  transition: color 0.2s ease; 
}
#loginbutton:hover {
  color:white;
}
.container {
    display: grid;
    place-items: center;
    /* Center content both horizontally and vertically */
    height: 60vh; /* Set a specific height for vertical alignment */
  
}

.logout-link  {
  display: none;
}

footer {
  background-color: #FF7A00; /* Background color for the footer */
  color: #fff; /* Text color for the footer */
  padding: 20px; /* Add padding to the footer for spacing */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Set a maximum width for the footer */
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Arial', sans serif; 
  color: black;
}

.footer-content p {
  
  margin: 0;
}
.twitter img{
  height:30px;
  width:30px
}
.instagram img{
  height:30px;
  width:auto;
}